QApplication{
    font-family: 'Hubot Sans';
}
QLineEdit {
    background-color: white;
    color: black;
    font-size: 25px;
    font-family: 'Hubot Sans';
    padding: 12px;
    padding-left: 0px;
    border-radius: 14px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 300px;
}
QFrame{
    background-color: white;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#rsFrame{
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 16px;
}
#Result{
    color: black;
    font-size: 30px;
    font-family: 'Hubot Sans';
    padding: 8px;
    border-radius: 0px;

}
QTextEdit{
    background-color: white;
    font-size: 30px;
    color: black;
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 8px;
}



