QLineEdit {
    background-color: white;
    font-size: 25px;
    font-family: 'Hubot Sans';
    padding: 12px;
    padding-left: 0px;
    border-radius: 16px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 300px;
}
QFrame{
    background-color: white;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
QGridLayout{
    padding: 0px;
    align-self:baseline;
}



